html,body{
    margin:0;
}
@font-face {
    font-family: "LCD";
    src: url('../images/LCD_Solid.ttf') format("truetype");
}
@font-face{
    font-family: "pixel-g";
    src:url('../images/Pixel_Gosub.otf') format("truetype");
}
@font-face{
    font-family: "3D";
    src:url('../images/3D.ttf');
}
@font-face{
    font-family: "prstartk";
    src:url('../images/prstartk.ttf');
}

.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body .fn-hide {
    display: none;
}

.fn-left, .fn-right {
    display: inline;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.title-font{
    font-family: "LCD";
    font-size: 80px;
}
.level-font{
    font-family: "LCD";
    font-size: 30px;
}

.loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#222;
    z-index: 9999;
}
.loading .startTitle{
    position: absolute;
    top:35%;
    left:50%;
    color:#Fff;
}
.loading .spinner {
  position:absolute;
  width: 100px;
  height: 100px;
  top:50%;
  left:50%;

  background-color: #fff;

  margin-left: -50px;
  margin-top: -50px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.page{
    position:relative;
    z-index: -1;
    background-image:-webkit-linear-gradient(left,#401D61 50.0% ,#5e2400 50.0%);
    background-image:-moz-linear-gradient(left,#401D61 50.0% ,#5e2400 50.0%);;

    
}
.pagereturn{
    background-image:-webkit-linear-gradient(left,#5e2400 50.0% ,#401D61 50.0%)!important;
    background-image:-moz-linear-gradient(left,#5e2400 50.0% ,#401D61 50.0%)!important;
}
.underground{
    position:absolute;
    bottom:-200px;
    left:-200px;
    
}
.underground .Galaxian-sc{
    float:left;
}
.scenes{
    border:0;
    width:150%;
    height:100%;
    top:0%;
    left:-25%; 
    position:fixed;
    -webkit-transform: rotate(0);
}

.scenes .citybg{
    position:absolute;
    /*margin-top:5%;*/
    width:24800px;
    height:100%;
    background:url(../images/abt-bg.png);
    background-size:auto 100%;
}
.scenes #tu{
    position:absolute;
    background:url(../images/tu.png) 0 0 no-repeat;
    bottom:9%;
    left:50%;
    margin-left: -41px;
    width:81px;
    height:112px;

}
.scene{
    float:left;
    height:91%;
    width:4000px;
    position:relative;
}
.scene .level{
    position: absolute;
    bottom:0;
    width:200px;
    height:300px;
    
    background:url(../images/level.png) 0 bottom no-repeat;
    background-size:100% auto;
}
.scene .level span{
    width: 128px;
    position: absolute;
    top: 100px;
    left: 32px;
    text-align: center;
}
.chapter{
    font-family: "pixel-g";
    font-size: 100px;
    position:absolute;
    left:300px;
    top:25%;

}
.chapter .title{
    color:#eee;
    background:#222;
    border:10px solid #01F805; 
    line-height: 1;
    padding:0 0px 18px 17px;
}

.chapter .Galaxian{
    background:url(../images/key.png) center 0 no-repeat;
    background-size:auto 100% ;
    top:100%;
    height:150px;
}
.form {
    position:absolute;
    bottom:0;
    width:700px;
    height:100%;
}
.form .title{
    position:absolute;
    bottom:85%;
    color: #f6f634;
    font-size: 40px;
    font-family: 'pixel-g';
    width:500px;
    text-align: center;
    left:50%;

    margin-left:-250px;
}
.form .list{
    position:absolute;
}
.form .list span{
    display:inline-block;
    float:left;
}
.form .coding{
    bottom:66%;
}
.form .design{
    bottom:41%;
}
.form .useless{
    bottom:18%;
}
.form .list .list-title{
    font-family: "LCD";
    border-bottom: 2px solid #fff;
    color:#eee;
    margin-right:25px;
    padding-top: 29px;
    font-size: 20px;
    width:150px;
    font-weight: 700;
    text-align: right;
}
.vform{
    bottom:0;
    position:relative;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.vtform{
    bottom:0;
    position:relative;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.vform .vtitle{
    
    position:absolute;
    bottom:-15%;
    color: #31af39;
    font-size: 40px;
    font-family: 'pixel-g';
    width:500px;
    text-align: center;
    left:50%;
    margin-left:-250px;
}
.vform .list{
    display:table-cell; 
    vertical-align:bottom;
    height:681px;
}
.vform .list span{
    display:block;
    /*float:right;*/
    
}
.vform .list .list-title{
    font-family: "LCD";
    border-top: 2px solid #fff;
    color:#eee;
    margin-right:25px;
    padding-top: 29px;
    font-size: 20px;
    width:135px;
    height:40px;
    font-weight: 700;
    text-align: center;
}

.Galaxian-sc{
    background:url(../images/Galaxian-sc.png) 0 0 no-repeat;
    background-size:auto 100%;
    padding:5px;
    margin: 10px;
    width:70px;
    height:50px;
}
.Galaxian-sy{
    background:url(../images/Galaxian-sy.png) 0 0 no-repeat;
    background-size:auto 100%;
    padding:5px;
    margin: 10px;
    width:70px;
    height:50px;
}
.Galaxian-sr{
    background:url(../images/Galaxian-sr.png) 0 0 no-repeat;
    background-size:auto 100% ;
    padding:5px;
    margin: 10px;
    width:70px;
    height:50px;
}

.Invader-1{
    background:url(../images/Invader-1.png) 0 0 no-repeat;
    background-size:100% auto;
    padding:5px;
    margin: 10px;
    width:100px;
    height:130px;
}
.Invader-2{
    background:url(../images/Invader-2.png) 0 0 no-repeat;
    background-size:100% auto;
    padding:5px;
    margin: 10px;
    width:100px;
    height:130px;
}
.Invader-3{
    background:url(../images/Invader-3.png) 0 0 no-repeat;
    background-size:100% auto;
    padding:5px;
    margin: 10px;
    width:100px;
    height:130px;
}
.Invader-4{
    background:url(../images/Invader-4.png) 0 0 no-repeat;
    background-size:100% auto;
    padding:5px;
    margin: 10px;
    width:500px;
    height:300px;
}
.Invader-5{
    background:url(../images/Invader-5.png) 0 0 no-repeat;
    background-size:100% auto;
    padding:5px;
    margin: 10px;
    width:350px;
    height:350px;
}
/*preScene*/
#preScene{
    background:url(../images/firstend.png);
    background-size:auto 100%;
    top:0;
    height:100%;
    position:relative;
}
#preScene .startTitle{
    position:absolute;
    top:35%;
    width:550px;
    text-align: center;
    left:50%;
    color:#fff;
    margin-left: -275px;
}
#preScene .floor{
    width:100%;
    height:300px;
    background:#222;
    position:absolute;
    bottom: 0;
}
#preScene .email{
    font-family: 'LCD';
    position:absolute;
    color:#ddd;
    font-size: 30px;
    top:60%;
    left:50%;
    text-align: center;
    width:510px;
    margin-left: -275px;
}
#preScene .email a{
    color:#fff;
}
#preScene .tops{
    position:absolute;
    left:50%;
    margin-left:-40px;
    top:-300px;
}
.email iframe{
    position:absolute;
    top:40px;
    left: 50%;
    margin-left: -30px;
}
/*firstScene*/
#firstScene .code{
    left:800px;
}
#firstScene .useless-lot{
    position:absolute;
    left:1500px;
    margin-left: -29px;
    height:100%;
}
#firstScene .where{
    left:3000px;
}
#firstScene .useless-lot div{
    position:absolute;
}
#firstScene .useless-lot .Galaxian-sc:first-child{
    bottom:18%;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(2){
    bottom:18%;
    left:100px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(3){
    bottom:18%;
    left:200px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(4){
    bottom:18%;
    left:300px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(5){
    bottom:18%;
    left:400px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(6){
    bottom:30%;
    left:400px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(7){
    bottom:42%;
    left:400px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(8){
    bottom:54%;
    left:400px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(9){
    bottom:66%;
    left:400px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(10){
    bottom:66%;
    left:500px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(11){
    bottom:66%;
    left:600px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(12){
    bottom:66%;
    left:700px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(13){
    bottom:54%;
    left:700px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(14){
    bottom:42%;
    left:600px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(15){
    bottom:30%;
    left:500px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(16){
    bottom:66%;
    left:800px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(17){
    bottom:54%;
    left:830px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(18){
    bottom:42%;
    left:860px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(19){
    bottom:30%;
    left:890px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(20){
    bottom:18%;
    left:920px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(21){
    bottom:6%;
    left:950px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(22){
    bottom:-6%;
    left:980px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(23){
    bottom:-18%;
    left:1020px;
}
#firstScene .useless-lot .Galaxian-sc:nth-child(21){
    bottom:6%;
    left:950px;
}
#firstScene .where img{
    display:block;
    height:100%;
    margin:30px auto;
}
/*secondScene*/
#secondScene{
    position: relative;
}
#secondScene .frontend{
    position:absolute;
    left:1200px;

}
#secondScene .code{
    position:absolute;
    left:2200px;
    
}
#secondScene .embedded{
    position:absolute;
    left:3200px;
    
}
/*thirdScene*/
#thirdScene .form{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#thirdScene .alipay-java{
    left:1200px;
}
#thirdScene .alipay-frontend{
    left:2500px;
}
#thirdScene .board{
    padding: 20px;
    color:#fff;
    width:500px;
    background:#333; 
    
    position:absolute;
    top:250px;
}
#thirdScene .alipay-java .board{
    border: 10px solid #861703;
}
#thirdScene .alipay-frontend .board{
    border: 10px solid #FF2700;
}
#thirdScene .form{
    width:1120px;
}
#thirdScene .Invader-4{
    position:absolute;
    top:-250px;
}
#thirdScene .Invader-5{
    position:absolute;
    top:-250px;
    left:50%;
    margin-left:-175px;
}
.board .company{

    font-size: 60px;
    color:#f6f634;
    padding:0 10px;
    font-family: "pixel-g";
    text-decoration: none;

}
.board .company:hover{
    color:#f6f634;
    border-bottom: 1px solid #f6f634;
}
.board .times{
    padding:10px;
    font-size: 40px;
    font-family: 'LCD';
    color:#31af39;
}

.board .brief{

    padding:10px;
}
.board p a{
    color:#f6f634;
}
.position{
    position:absolute;
    top:300px;
    right:0px;
    padding:20px;
    width:550px;
    border-radius: 20px;
    font-family: "3D";
    color:#333;
    background:#ccc;
    font-size: 120px;
}
/*forthScene*/
#forthScene .RHCE{
    color:#Fff;
    font-family: "pixel-g";
    font-size: 80px;
}
#forthScene .RHCE i{
    background:url('../images/redhat.png') center center;
    background-size: 100%;
    width:250px;
    height:250px;
    display:inline-block;
}
#forthScene .RHCE span{
    display:inline-block;
    padding:10px;
    line-height: -10px;    
}
#forthScene .vtform{
    width:800px;
    left:2000px;
    bottom:1000px;
}
#forthScene .more{
    color:#aaa;
    width:600px;
    font-family: "pixel-g";
    font-size: 80px;
}
#forthScene .projects{
    padding-bottom: 200px;
    display:block;
}
#forthScene .projects:hover span{
    padding-bottom: 200px;
    display:block;
    color:#f6f634;
}


#forthScene .projects *{
    float:left;   
}
#forthScene .projects span{
    width:300px;color:#fff;
    text-align: right;
    font-family: "pixel-g";
    font-size: 40px;
    padding:0 30px;

}
#forthScene .fly{
    position:absolute;
    left:3900px;
    bottom:-130px;
}

/*endScene*/
#endScene{
    position:absolute;
    right:4000px;
}
#endScene .gameover{
    height:100%;
    text-align: center;
    padding-top: 5%;
    color:#fff;
    font-size: 100px;
}
#endScene .andover{
    height:100%;
    text-align: center;
    padding-top: 5%;
    color:#fff;
    font-size: 100px;
}
/*endpreScene*/
#endpreScene .tops{

    position:absolute;
    left:50%;
    margin-left:-40px;
    top:-300px;
}


#endpreScene{
    background:url(../images/firstend.png);
    background-size:auto 100%; 
    position:absolute;
    top:0;
    height:100%;
}
#endpreScene .startTitle{

    position:absolute;
    top:35%;
    width:550px;
    left:50%;
    text-align: center;
    color:#fff;
    margin-left: -275px;
}
#endpreScene .floor{
    width:100%;
    height:300px;
    background:#222;
    position:absolute;
    bottom: 0;
}
#endpreScene .email{
    font-family: 'LCD';
    position:absolute;
    color:#ddd;
    font-size: 30px;
    top:60%;
    left:50%;
    text-align: center;
    width:510px;
    margin-left: -275px;
}
#endpreScene .email a{
    color:#fff;
}



