@import url("./flat-ui.css");

body {
    font-family: Lora,"Xin Gothic","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Xin Gothic","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",SimSun,sans-serif!important;
}
.fn-hide{
    display: none;
}

.header {
    margin: 100px auto;
    text-align: center;
    
}

.header .links a {
    display:inline-block;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    
}

.index-page {
    text-align: center;
}

.index-page h1 a {
    color: #222;
    letter-spacing: 0.2px;
}

.index-page h1 a:hover {
    color:red;
    -webkit-transition: color .3s ease,border-color .1s ease,background-color 1s ease,opacity .3s ease;
    transition: color .3s ease,border-color .1s ease,background-color 1s ease,opacity .3s ease;
}

.pagination {
    margin: 100px auto 100px;
}


