<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>
      {{ page.title }}
    </title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
                        
      </script>
    <![endif]-->
    <script src="/assets/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link href="/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" href="https://i.alipayobjects.com/e/201311/1SmK7nhovl.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container ">
      <div class="header csstransforms">
        <div class="component ">
        <button class="cn-button" id="cn-button">
          <a href=""><img class="first" src="http://tp2.sinaimg.cn/1674540501/180/40013708336/1" alt="header" width="80"
          height="80">
          <img class="random"  onerror="this.src=window.flynn_imgAdd+window.flynn_img+'.gif'" alt="header" width="80"
          height="80">
          </a>
        </button>
        <div class="cn-wrapper " id="cn-wrapper">
          <ul>
            <li><a href="/"><span class="iconfont">&#x355c;</span></a></li>
            <li><a href="/works" title="works"><span class="iconfont">&#x360b;</span></a></li>
            <li><a href="http://weibo.com/u/1674540501" title="weibo"><span class="iconfont">&#x35e0;</span></a></li>
            <li><a href="https://github.com/flynngao" title="github"><span class="iconfont">&#x35fb;</span></a></li>
            <li><a href="/about"><span class="iconfont">&#x366f;</span></a></li>
           </ul>
        </div>
        <!-- End of Nav Structure -->
      </div>
<!--        <div class="links">
          <a href="/">Blogs</a>
          <a href="/about.html">About</a>
       </div> -->
      </div>
      <div class="content fn-clear">
        {{ content }}
      </div>
      <!-- /container -->
    </div>
    <script>
      $(document).ready(function ($) {
         var imgAdd = window.flynn_imgAdd = "http://pic-001.b0.upaiyun.com/miao/miao";
         var img = window.flynn_img= parseInt(Math.random()*131);

         $('.cn-button .random').attr("src",imgAdd+img+'.jpg');

          $('#cn-button').click(function (e) {
            e.preventDefault();
            var nav = $('#cn-wrapper');
            if(nav.hasClass('opened-nav')){
              nav.removeClass('opened-nav');
              $(this).removeClass('clicked');
              img = window.flynn_img = parseInt(Math.random()*131+1);
              $('.cn-button .random').attr("src",imgAdd+img+'.jpg');

            } else {
              nav.addClass('opened-nav');
              $(this).addClass('clicked');
            }

            
          });


      })
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45779650-2', 'flynngao.github.io');
  ga('send', 'pageview');

</script>
  </body>

</html>