<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }}
    </title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
                        
      </script>
    <![endif]-->
    <script src="/assets/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link href="/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" href="https://i.alipayobjects.com/e/201311/1SmK7nhovl.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container csstransforms">
      <div class="header">
        <div class="component ">
        <button class="cn-button" id="cn-button">
          <a href=""><img class="first" src="http://tp2.sinaimg.cn/1674540501/180/40013708336/1" alt="header" width="80"
          height="80">
          <img class="random" src="http://pic1.sc.chinaz.com/Files/pic/faces/2241/28.gif" alt="header" width="80"
          height="80">
          </a>
        </button>
        <div class="cn-wrapper " id="cn-wrapper">
          <ul>
            <li><a href="/"><span class="iconfont">&#x3636;</span></a></li>
            <li><a href="/projects"><span class="iconfont">&#x3641;</span></a></li>
            <li><a href="#"><span class="iconfont">&#x3639;</span></a></li>
            <li><a href="#"><span class="iconfont">&#x363a;</span></a></li>
            <li><a href="#"><span class="iconfont">&#x36a2;</span></a></li>
            <li><a href="#"><span class="iconfont">&#x363c;</span></a></li>
            <li><a href="/about"><span class="iconfont">&#x363d;</span></a></li>
           </ul>
        </div>
        <!-- End of Nav Structure -->
      </div>
<!--        <div class="links">
          <a href="/">Blogs</a>
          <a href="/about.html">About</a>
       </div> -->
      </div>
      <div class="content fn-clear">
        {{ content }}
      </div>
      <!-- /container -->
    </div>
    <script>
      $(document).ready(function ($) {
          $('#cn-button').click(function (e) {
            e.preventDefault();
            var nav = $('#cn-wrapper');
            if(nav.hasClass('opened-nav')){
              nav.removeClass('opened-nav');
              $(this).removeClass('clicked');
            } else {
              nav.addClass('opened-nav');
              $(this).addClass('clicked');
            }

            
          });
      })
    </script>
  </body>

</html>